<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Créer un Exercice</h2>
    <form action="/api/exercice/" method="post" style="display: flex; flex-direction:column">
        <label for="Name">Nom : </label>
        <input id="Name" type="text" name="name">
        <label for="Describe">Description : </label>
        <input id="describe" type="text" name="describe">
        <label for="Timer">Temps (minutes) : </label>
        <input id="Timer" type="number" name="timer">
        <label for="Language">Langage : </label>
        <select id="Language" name="language">
            {% for language in lang %}
            <option value="{{language.uuid}}" selected>{{language.name}}</option>
            {% endfor %}
        </select>
        <label for="Test">Fichier Test : </label>
        <textarea name="Test" id="Test"></textarea>
        <button type="submit">Création</button>
    </form>

</body>

</html>