<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Modifier Un Groupe</h2>
    <form action="/api/setGroup/?id={{ Group.uuid }}" method="post" style="display: flex; flex-direction:column">
        <label for="name">Name : </label>
        <input id="name" type="text" name="name" value="{{ Group.name }}">
        <button type="submit">Modifier</button>
    </form>
</body>

</html>